@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Inter', sans-serif;
}

body{
    margin:0;
    background:#0A0F1F;
    color:white;
}

.header{
    display:flex;
    align-items:center;
    gap:20px;

    padding:30px 50px;

    background:#111827;

    border-bottom:1px solid rgba(255,255,255,0.08);
}

.logo{
    height:70px;
}

.title{
    margin:0;
    font-size:34px;
    font-weight:700;
}

.subtitle{
    margin-top:8px;
    color:#B8C1D1;
}

.filter-card{
    margin:30px 50px;

    background:#161D31;

    padding:25px;

    border-radius:18px;

    box-shadow:
    0px 10px 30px rgba(0,0,0,0.35);
}
.section-title{
    margin-bottom:20px;
}

.radio-group label {
    color: #F8FAFC !important;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3px;
}



.chart-card{
    margin:30px 50px;

    padding:25px;

    border-radius:18px;

    background:#161D31;

    box-shadow:
    0px 10px 30px rgba(0,0,0,0.35);
}

/* Radio Button Styling */

input[type="radio"]{
    accent-color:#7B61FF;
    transform:scale(1.3);
}

/* Hover Animation */

.filter-card:hover,
.chart-card:hover{

    transform:translateY(-2px);

    transition:0.3s ease;

    box-shadow:
    0px 15px 35px rgba(123,97,255,0.20);
}